## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
import pandas as pd 

data = [4,8,15,16,23,42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

In [8]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

<P> In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is essentially a container for storing and manipulating structured data. A DataFrame can be thought of as a collection of Series objects, where each column represents a Series. It is one of the most commonly used data structures in Pandas and is particularly useful for data manipulation, analysis, and exploration tasks. <P>

In [9]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5], name='Numbers')

print("Series:")
print(s)
print("\nType:", type(s))

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print("\nDataFrame:")
print(df)
print("\nType:", type(df))

Series:
0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64

Type: <class 'pandas.core.series.Series'>

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Type: <class 'pandas.core.frame.DataFrame'>

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

<P> head() and tail(): These functions allow you to view the first or last few rows of a DataFrame, respectively. <P>

In [12]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

df.head(1)

    Name  Age  Gender
0  Alice   25  Female

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

<p> Among Series, DataFrame, and Panel, only DataFrame is mutable in nature. <p>

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female